.navContainer {
  background: rgb(29 78 216);
  height: 90px;
  position: sticky;
  top: 0;
  z-index: 9999;
  box-shadow: 0 4px 2px -2px gray;
  transition: all 0.5s ease-in-out;
}
.navContainerMobile {
  background: rgb(29 78 216);
  height: 250px;
  position: sticky;
  top: 0;
  z-index: 9999;
  box-shadow: 0 4px 2px -2px gray;
  transition: all 0.5s ease-in-out;
}

.navWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 100%;
}

.navLeft {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.5s ease-in-out;
}
.navLeftMobile {
  display: flex;
  justify-content: center;
  align-items: center;
  /* margin-top: -140px; */
  transition: all 0.5s ease-in-out;
}

.navLeftLinks > .navLeftLink {
  text-decoration: none;
  transition: 300ms ease-in-out;
}
.navLeftLinksMobile > .navLeftLink {
}
.navMiddle {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo > img {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 10%;
  border: 0.5px solid var(--color-primary);
  padding: 2px;
  background: var(--color-bg-variant2);
}
.navRightLinks {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navRightLinksMobile {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  transition: all 0.5s ease-in-out;
}

.navRightLinks > .link {
  color: rgb(206, 206, 206);
  text-decoration: none;
  transition: 300ms ease-in-out;
  margin-right: 40px;
}
.navRightLinks > .linkSub {
  color: rgb(206, 206, 206);
  text-decoration: none;
  transition: 300ms ease-in-out;
  margin-right: 40px;
}
.navRightLinks > .homeLink {
  color: rgb(206, 206, 206);
  text-decoration: none;
  transition: 300ms ease-in-out;
  margin-right: 40px;
}
.navRightLinks > .homeLink:hover {
  color: rgb(236, 235, 235);
}
.navRightLinks > .btn {
  color: rgb(206, 206, 206);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-right: 40px;
}
.navRightLinks > .btn > .btnInside {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-size: 14px;
  align-items: center;
  transition: 300ms ease-in-out;
  gap: 5px;
  background-color: rgb(228, 93, 93);
  padding: 5px;
  border-radius: 5px;
}
.navRightLinks > .btn > .btnInside:hover {
  background-color: rgb(223, 71, 71);
}

.navRightLinks > .link:hover {
  color: #fff;
}
/* mobile */
.navRightLinksMobile > .link {
  color: rgb(206, 206, 206);
  text-decoration: none;
  transition: 300ms ease-in-out;
  margin-right: 40px;
}
.navRightLinksMobile > .linkSub {
  color: rgb(206, 206, 206);
  text-decoration: none;
  transition: 300ms ease-in-out;
  margin-right: 40px;
}
.navRightLinksMobile > .homeLink {
  color: rgb(206, 206, 206);
  text-decoration: none;
  transition: 300ms ease-in-out;
  margin-right: 40px;
}
.navRightLinksMobile > .btn {
  color: rgb(206, 206, 206);
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-right: 40px;
}
.navRightLinksMobile > .btn > .btnInside {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  font-size: 14px;
  align-items: center;
  transition: 300ms ease-in-out;
  gap: 5px;
  background-color: rgb(228, 93, 93);
  padding: 5px;
  border-radius: 5px;
}
.navRightLinksMobile > .btn > .btnInside:hover {
  background-color: rgb(223, 71, 71);
}

.navRightLinksMobile > .link:hover {
  color: #fff;
}
.mobileNavWrapper {
  display: none;
}
.burger {
  display: none;
}
/* media queries */
@media screen and (max-width: 1024px) {
  .navMiddle {
    display: none;
  }
  /* .navRight {
    display: none;
  } */
  .burger {
    display: block;
    transition: all 0.5s ease-in-out;
  }
  .burgerMobile {
    display: block;
    /* margin-top: -140px; */
    transition: all 0.5s ease-in-out;
  }
  .navRightLinks {
    display: none;
  }
}

@media only screen and (max-width: 600px) {
  .navRightLinksMobile {
    margin-left: 20px;
    font-size: small;
    width: 100%;
  }
}
